@model ProjectMinera.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("Partial_UserForm")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
